ADMIN_USER_EMAIL=email@example.com
ADMIN_USER_NAME=bob
ADMIN_USER_PWD=changeme
BASE_URL=https://stats.example.com:443 #Port 8000 by default without reverse proxy
SECRET_KEY_BASE="xxxxREAD INSTRUCTIONS TO CHANGExxxx"