{
    "swagger": "2.0",
    "info": {
        "version": "0.6.0",
        "title": "Mocked-API",
        "description": "An API library for providing endpoints of mock data for use during testing. This API is still in the development and until it reaches version 1.0.0 the API is subject to change. To find out more head over to https://mocked-api.dev/"
    },
    "host": "api.mocked-api.dev",
    "schemes": ["https"],
    "basePath": "/",
    "consumes": ["application/json"],
    "produces": ["application/json"],
    "tags": [
        {
            "name": "Animals",
            "description": "A set of endpoints related to animal"
        },
        {
            "name": "Countries",
            "description": "A set of endpoints related to countries"
        },
        {
            "name": "Currencies",
            "description": "A set of endpoints related to currencies"
        },
        {
            "name": "Images",
            "description": "A set of endpoints related to obtaining placeholder image urls"
        },
        {
            "name": "Names",
            "description": "A set of endpoints to get randomly generated names"
        },
        {
            "name": "Sports",
            "description": "A set of endpoints to get random sports data"
        }
    ],
    "paths": {
        "/animals/bear/species/{qty}" : {
            "get": {
                "tags": ["Animals"],
                "summary" : "Obtain a random list of bear species with no duplications",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of species you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200" : {
                        "description" : "OK",
                        "schema": {
                            "type" : "array",
                            "items": {
                                "type" : "string",
                                "example": "Sun bear"
                            }
                        }
                    }
                }
            }
        },
        "/animals/bird/species/{qty}" : {
            "get": {
                "tags": ["Animals"],
                "summary" : "Obtain a random list of bird species with no duplications",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of species you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200" : {
                        "description" : "OK",
                        "schema": {
                            "type" : "array",
                            "items": {
                                "type" : "string",
                                "example": "Sun bear"
                            }
                        }
                    }
                }
            }
        },
        "/animals/cat/species/{qty}" : {
            "get": {
                "tags": ["Animals"],
                "summary" : "Obtain a random list of cat species with no duplications",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of species you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200" : {
                        "description" : "OK",
                        "schema": {
                            "type" : "array",
                            "items": {
                                "type" : "string",
                                "example": "Sun bear"
                            }
                        }
                    }
                }
            }
        },
        "/animals/cetecean/species/{qty}" : {
            "get": {
                "tags": ["Animals"],
                "summary" : "Obtain a random list of cetecean species with no duplications",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of species you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200" : {
                        "description" : "OK",
                        "schema": {
                            "type" : "array",
                            "items": {
                                "type" : "string",
                                "example": "Sun bear"
                            }
                        }
                    }
                }
            }
        },
        "/animals/cow/species/{qty}" : {
            "get": {
                "tags": ["Animals"],
                "summary" : "Obtain a random list of cow species with no duplications",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of species you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200" : {
                        "description" : "OK",
                        "schema": {
                            "type" : "array",
                            "items": {
                                "type" : "string",
                                "example": "Sun bear"
                            }
                        }
                    }
                }
            }
        },
        "/animals/crocodile/species/{qty}" : {
            "get": {
                "tags": ["Animals"],
                "summary" : "Obtain a random list of crocodile species with no duplications",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of species you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200" : {
                        "description" : "OK",
                        "schema": {
                            "type" : "array",
                            "items": {
                                "type" : "string",
                                "example": "Sun bear"
                            }
                        }
                    }
                }
            }
        },
        "/animals/dog/species/{qty}" : {
            "get": {
                "tags": ["Animals"],
                "summary" : "Obtain a random list of dog species with no duplications",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of species you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200" : {
                        "description" : "OK",
                        "schema": {
                            "type" : "array",
                            "items": {
                                "type" : "string",
                                "example": "Sun bear"
                            }
                        }
                    }
                }
            }
        },
        "/animals/fish/species/{qty}" : {
            "get": {
                "tags": ["Animals"],
                "summary" : "Obtain a random list of fish species with no duplications",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of species you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200" : {
                        "description" : "OK",
                        "schema": {
                            "type" : "array",
                            "items": {
                                "type" : "string",
                                "example": "Sun bear"
                            }
                        }
                    }
                }
            }
        },
        "/animals/horse/species/{qty}" : {
            "get": {
                "tags": ["Animals"],
                "summary" : "Obtain a random list of horse species with no duplications",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of species you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200" : {
                        "description" : "OK",
                        "schema": {
                            "type" : "array",
                            "items": {
                                "type" : "string",
                                "example": "Sun bear"
                            }
                        }
                    }
                }
            }
        },
        "/animals/insect/species/{qty}" : {
            "get": {
                "tags": ["Animals"],
                "summary" : "Obtain a random list of insect species with no duplications",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of species you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200" : {
                        "description" : "OK",
                        "schema": {
                            "type" : "array",
                            "items": {
                                "type" : "string",
                                "example": "Sun bear"
                            }
                        }
                    }
                }
            }
        },
        "/animals/lion/species/{qty}" : {
            "get": {
                "tags": ["Animals"],
                "summary" : "Obtain a random list of lion species with no duplications",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of species you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200" : {
                        "description" : "OK",
                        "schema": {
                            "type" : "array",
                            "items": {
                                "type" : "string",
                                "example": "Sun bear"
                            }
                        }
                    }
                }
            }
        },
        "/animals/rabbit/species/{qty}" : {
            "get": {
                "tags": ["Animals"],
                "summary" : "Obtain a random list of rabbit species with no duplications",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of species you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200" : {
                        "description" : "OK",
                        "schema": {
                            "type" : "array",
                            "items": {
                                "type" : "string",
                                "example": "Sun bear"
                            }
                        }
                    }
                }
            }
        },
        "/animals/rodent/species/{qty}" : {
            "get": {
                "tags": ["Animals"],
                "summary" : "Obtain a random list of rodent species with no duplications",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of species you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200" : {
                        "description" : "OK",
                        "schema": {
                            "type" : "array",
                            "items": {
                                "type" : "string",
                                "example": "Sun bear"
                            }
                        }
                    }
                }
            }
        },
        "/animals/snake/species/{qty}" : {
            "get": {
                "tags": ["Animals"],
                "summary" : "Obtain a random list of snake species with no duplications",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of species you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200" : {
                        "description" : "OK",
                        "schema": {
                            "type" : "array",
                            "items": {
                                "type" : "string",
                                "example": "Sun bear"
                            }
                        }
                    }
                }
            }
        },
        "/countries" : {
            "get": {
                "tags": ["Countries"],
                "summary" : "Obtain a list of all countries",
                "responses": {
                    "200" : {
                        "description" : "OK",
                        "schema": {
                            "type" : "array",
                            "items": {
                                "type" : "string",
                                "example": "United Kingdom, United States Of America"
                            }
                        }
                    }
                }
            }
        },
        "/countries/{filterBy}" : {
            "get": {
                "tags": ["Countries"],
                "summary" : "Obtain a list of all countries that contain filtered text",
                "parameters": [
                    {
                        "in": "path",
                        "name": "filterBy",
                        "description": "The text you would like to filter countries by",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200" : {
                        "description" : "OK",
                        "schema": {
                            "type" : "array",
                            "items": {
                                "type" : "string",
                                "example": "United Kingdom"
                            }
                        }
                    }
                }
            }
        },

        "/currencies/market-overview" : {
            "get": {
                "tags": ["Currencies"],
                "summary" : "Get a snapshot of the currency market",
                "responses": {
                    "200" : {
                        "description" : "OK",
                        "schema": {
                            "type" : "array",
                            "items": {
                                "type" : "object",
                                "example": "{currency: 'EUR-USD', value: '0.9945', change: '-0.0021', netChange: '-0.21%'}"
                            }
                        }
                    }
                }
            }
        },

        "/currencies/gbp-usd/ticker" : {
            "get": {
                "tags": ["Currencies"],
                "summary" : "Returns a set of chart data of price data for a given currency market",
                "responses": {
                    "200" : {
                        "description" : "OK",
                        "schema": {
                            "type" : "array",
                            "items": {
                                "type" : "object"
                            }
                        }
                    }
                }
            }
        },

        "/images/abstract/{width}/{height}/{qty}" : {
            "get": {
                "tags": ["Images"],
                "summary" : "Obtain a list of abstract image urls",
                "parameters": [
                    {
                        "in": "path",
                        "name": "width",
                        "description": "Width in pixels that your image needs to be",
                        "type": "number",
                        "default": 640
                    },
                    {
                        "in": "path",
                        "name": "height",
                        "description": "Height in pixels that your image needs to be",
                        "type": "number",
                        "default": 480
                    },
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of image urls you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200" : {
                        "description" : "OK",
                        "schema": {
                            "type" : "array",
                            "items": {
                                "type" : "string",
                                "example": "https://loremflickr.com/1024/201/cats?49645"
                            }
                        }
                    }
                }
            }
        },

        "/images/animals/{width}/{height}/{qty}" : {
            "get": {
                "tags": ["Images"],
                "summary" : "Obtain a list of animal image urls",
                "parameters": [
                    {
                        "in": "path",
                        "name": "width",
                        "description": "Width in pixels that your image needs to be",
                        "type": "number",
                        "default": 640
                    },
                    {
                        "in": "path",
                        "name": "height",
                        "description": "Height in pixels that your image needs to be",
                        "type": "number",
                        "default": 480
                    },
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of image urls you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200" : {
                        "description" : "OK",
                        "schema": {
                            "type" : "array",
                            "items": {
                                "type" : "string",
                                "example": "https://loremflickr.com/1024/201/cats?49645"
                            }
                        }
                    }
                }
            }
        },

        "/images/avatar/{width}/{height}/{qty}" : {
            "get": {
                "tags": ["Images"],
                "summary" : "Obtain a list of avatar image urls",
                "parameters": [
                    {
                        "in": "path",
                        "name": "width",
                        "description": "Width in pixels that your image needs to be",
                        "type": "number",
                        "default": 640
                    },
                    {
                        "in": "path",
                        "name": "height",
                        "description": "Height in pixels that your image needs to be",
                        "type": "number",
                        "default": 480
                    },
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of image urls you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200" : {
                        "description" : "OK",
                        "schema": {
                            "type" : "array",
                            "items": {
                                "type" : "string",
                                "example": "https://loremflickr.com/1024/201/cats?49645"
                            }
                        }
                    }
                }
            }
        },

        "/images/business/{width}/{height}/{qty}" : {
            "get": {
                "tags": ["Images"],
                "summary" : "Obtain a list of business image urls",
                "parameters": [
                    {
                        "in": "path",
                        "name": "width",
                        "description": "Width in pixels that your image needs to be",
                        "type": "number",
                        "default": 640
                    },
                    {
                        "in": "path",
                        "name": "height",
                        "description": "Height in pixels that your image needs to be",
                        "type": "number",
                        "default": 480
                    },
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of image urls you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200" : {
                        "description" : "OK",
                        "schema": {
                            "type" : "array",
                            "items": {
                                "type" : "string",
                                "example": "https://loremflickr.com/1024/201/cats?49645"
                            }
                        }
                    }
                }
            }
        },

        "/images/cats/{width}/{height}/{qty}" : {
            "get": {
                "tags": ["Images"],
                "summary" : "Obtain a list of cat image urls",
                "parameters": [
                    {
                        "in": "path",
                        "name": "width",
                        "description": "Width in pixels that your image needs to be",
                        "type": "number",
                        "default": 640
                    },
                    {
                        "in": "path",
                        "name": "height",
                        "description": "Height in pixels that your image needs to be",
                        "type": "number",
                        "default": 480
                    },
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of image urls you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200" : {
                        "description" : "OK",
                        "schema": {
                            "type" : "array",
                            "items": {
                                "type" : "string",
                                "example": "https://loremflickr.com/1024/201/cats?49645"
                            }
                        }
                    }
                }
            }
        },

        "/images/city/{width}/{height}/{qty}" : {
            "get": {
                "tags": ["Images"],
                "summary" : "Obtain a list of city image urls",
                "parameters": [
                    {
                        "in": "path",
                        "name": "width",
                        "description": "Width in pixels that your image needs to be",
                        "type": "number",
                        "default": 640
                    },
                    {
                        "in": "path",
                        "name": "height",
                        "description": "Height in pixels that your image needs to be",
                        "type": "number",
                        "default": 480
                    },
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of image urls you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200" : {
                        "description" : "OK",
                        "schema": {
                            "type" : "array",
                            "items": {
                                "type" : "string",
                                "example": "https://loremflickr.com/1024/201/cats?49645"
                            }
                        }
                    }
                }
            }
        },

        "/images/fashion/{width}/{height}/{qty}" : {
            "get": {
                "tags": ["Images"],
                "summary" : "Obtain a list of fashion image urls",
                "parameters": [
                    {
                        "in": "path",
                        "name": "width",
                        "description": "Width in pixels that your image needs to be",
                        "type": "number",
                        "default": 640
                    },
                    {
                        "in": "path",
                        "name": "height",
                        "description": "Height in pixels that your image needs to be",
                        "type": "number",
                        "default": 480
                    },
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of image urls you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200" : {
                        "description" : "OK",
                        "schema": {
                            "type" : "array",
                            "items": {
                                "type" : "string",
                                "example": "https://loremflickr.com/1024/201/cats?49645"
                            }
                        }
                    }
                }
            }
        },

        "/images/food/{width}/{height}/{qty}" : {
            "get": {
                "tags": ["Images"],
                "summary" : "Obtain a list of food image urls",
                "parameters": [
                    {
                        "in": "path",
                        "name": "width",
                        "description": "Width in pixels that your image needs to be",
                        "type": "number",
                        "default": 640
                    },
                    {
                        "in": "path",
                        "name": "height",
                        "description": "Height in pixels that your image needs to be",
                        "type": "number",
                        "default": 480
                    },
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of image urls you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200" : {
                        "description" : "OK",
                        "schema": {
                            "type" : "array",
                            "items": {
                                "type" : "string",
                                "example": "https://loremflickr.com/1024/201/cats?49645"
                            }
                        }
                    }
                }
            }
        },

        "/images/nature/{width}/{height}/{qty}" : {
            "get": {
                "tags": ["Images"],
                "summary" : "Obtain a list of nature image urls",
                "parameters": [
                    {
                        "in": "path",
                        "name": "width",
                        "description": "Width in pixels that your image needs to be",
                        "type": "number",
                        "default": 640
                    },
                    {
                        "in": "path",
                        "name": "height",
                        "description": "Height in pixels that your image needs to be",
                        "type": "number",
                        "default": 480
                    },
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of image urls you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200" : {
                        "description" : "OK",
                        "schema": {
                            "type" : "array",
                            "items": {
                                "type" : "string",
                                "example": "https://loremflickr.com/1024/201/cats?49645"
                            }
                        }
                    }
                }
            }
        },

        "/images/nightlife/{width}/{height}/{qty}" : {
            "get": {
                "tags": ["Images"],
                "summary" : "Obtain a list of nightlife image urls",
                "parameters": [
                    {
                        "in": "path",
                        "name": "width",
                        "description": "Width in pixels that your image needs to be",
                        "type": "number",
                        "default": 640
                    },
                    {
                        "in": "path",
                        "name": "height",
                        "description": "Height in pixels that your image needs to be",
                        "type": "number",
                        "default": 480
                    },
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of image urls you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200" : {
                        "description" : "OK",
                        "schema": {
                            "type" : "array",
                            "items": {
                                "type" : "string",
                                "example": "https://loremflickr.com/1024/201/cats?49645"
                            }
                        }
                    }
                }
            }
        },

        "/images/people/{width}/{height}/{qty}" : {
            "get": {
                "tags": ["Images"],
                "summary" : "Obtain a list of people image urls",
                "parameters": [
                    {
                        "in": "path",
                        "name": "width",
                        "description": "Width in pixels that your image needs to be",
                        "type": "number",
                        "default": 640
                    },
                    {
                        "in": "path",
                        "name": "height",
                        "description": "Height in pixels that your image needs to be",
                        "type": "number",
                        "default": 480
                    },
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of image urls you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200" : {
                        "description" : "OK",
                        "schema": {
                            "type" : "array",
                            "items": {
                                "type" : "string",
                                "example": "https://loremflickr.com/1024/201/cats?49645"
                            }
                        }
                    }
                }
            }
        },

        "/images/sports/{width}/{height}/{qty}" : {
            "get": {
                "tags": ["Images"],
                "summary" : "Obtain a list of sports image urls",
                "parameters": [
                    {
                        "in": "path",
                        "name": "width",
                        "description": "Width in pixels that your image needs to be",
                        "type": "number",
                        "default": 640
                    },
                    {
                        "in": "path",
                        "name": "height",
                        "description": "Height in pixels that your image needs to be",
                        "type": "number",
                        "default": 480
                    },
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of image urls you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200" : {
                        "description" : "OK",
                        "schema": {
                            "type" : "array",
                            "items": {
                                "type" : "string",
                                "example": "https://loremflickr.com/1024/201/cats?49645"
                            }
                        }
                    }
                }
            }
        },

        "/images/technics/{width}/{height}/{qty}" : {
            "get": {
                "tags": ["Images"],
                "summary" : "Obtain a list of technics image urls",
                "parameters": [
                    {
                        "in": "path",
                        "name": "width",
                        "description": "Width in pixels that your image needs to be",
                        "type": "number",
                        "default": 640
                    },
                    {
                        "in": "path",
                        "name": "height",
                        "description": "Height in pixels that your image needs to be",
                        "type": "number",
                        "default": 480
                    },
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of image urls you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200" : {
                        "description" : "OK",
                        "schema": {
                            "type" : "array",
                            "items": {
                                "type" : "string",
                                "example": "https://loremflickr.com/1024/201/cats?49645"
                            }
                        }
                    }
                }
            }
        },

        "/images/transport/{width}/{height}/{qty}" : {
            "get": {
                "tags": ["Images"],
                "summary" : "Obtain a list of transport image urls",
                "parameters": [
                    {
                        "in": "path",
                        "name": "width",
                        "description": "Width in pixels that your image needs to be",
                        "type": "number",
                        "default": 640
                    },
                    {
                        "in": "path",
                        "name": "height",
                        "description": "Height in pixels that your image needs to be",
                        "type": "number",
                        "default": 480
                    },
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of image urls you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200" : {
                        "description" : "OK",
                        "schema": {
                            "type" : "array",
                            "items": {
                                "type" : "string",
                                "example": "https://loremflickr.com/1024/201/cats?49645"
                            }
                        }
                    }
                }
            }
        },

        "/names/firstnames/{qty}" : {
            "get": {
                "tags": ["Names"],
                "summary" : "Obtain a list of random firstnames",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "default": 10,
                        "description": "The amount of results you would like returned"
                    }
                ],
                "responses": {
                    "200" : {
                        "description" : "OK",
                        "schema": {
                            "$ref": "#/definitions/FirstNamesResponse"
                        }
                    },
                    "400" : {
                        "description": "Unexpected Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/names/firstnames/male/{qty}" : {
            "get": {
                "tags": ["Names"],
                "summary" : "Obtain a list of random male firstnames",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "default": 10,
                        "description": "The amount of results you would like returned"
                    }
                ],
                "responses": {
                    "200" : {
                        "description" : "OK",
                        "schema": {
                            "$ref": "#/definitions/FirstNamesResponse"
                        }
                    },
                    "400" : {
                        "description": "Unexpected Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/names/firstnames/female/{qty}" : {
            "get": {
                "tags": ["Names"],
                "summary" : "Obtain a list of random female firstnames",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "default": 10,
                        "description": "The amount of results you would like returned"
                    }
                ],
                "responses": {
                    "200" : {
                        "description" : "OK",
                        "schema": {
                            "$ref": "#/definitions/FirstNamesResponse"
                        }
                    },
                    "400" : {
                        "description": "Unexpected Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/names/fullnames/{qty}" : {
            "get": {
                "tags": ["Names"],
                "summary" : "Obtain a list of random fullnames",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "default": 10,
                        "description": "The amount of results you would like returned"
                    }
                ],
                "responses": {
                    "200" : {
                        "description" : "OK",
                        "schema": {
                            "type" : "array",
                            "items": {
                                "type" : "string",
                                "example": "Bobby Weiman, Tammy Swaniawski"
                            }
                        }
                    },
                    "400" : {
                        "description": "Unexpected Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/names/fullnames/male/{qty}" : {
            "get": {
                "tags": ["Names"],
                "summary" : "Obtain a list of random male fullnames",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "default": 10,
                        "description": "The amount of results you would like returned"
                    }
                ],
                "responses": {
                    "200" : {
                        "description" : "OK",
                        "schema": {
                            "items": {
                                "type" : "string",
                                "example": "Bobby Weiman, Tammy Swaniawski"
                            }
                        }
                    },
                    "400" : {
                        "description": "Unexpected Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/names/fullnames/female/{qty}" : {
            "get": {
                "tags": ["Names"],
                "summary" : "Obtain a list of random female fullnames",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "default": 10,
                        "description": "The amount of results you would like returned"
                    }
                ],
                "responses": {
                    "200" : {
                        "description" : "OK",
                        "schema": {
                            "$ref": "#/definitions/FullNamesResponse"
                        }
                    },
                    "400" : {
                        "description": "Unexpected Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/names/lastnames/{qty}" : {
            "get": {
                "tags": ["Names"],
                "summary" : "Obtain a list of random lastnames",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "default": 10,
                        "description": "The amount of results you would like returned"
                    }
                ],
                "responses": {
                    "200" : {
                        "description" : "OK",
                        "schema": {
                            "$ref": "#/definitions/LastNameResponse"
                        }
                    },
                    "400" : {
                        "description": "Unexpected Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/names/lastnames/male/{qty}" : {
            "get": {
                "tags": ["Names"],
                "summary" : "Obtain a list of random male lastnames",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "default": 10,
                        "description": "The amount of results you would like returned"
                    }
                ],
                "responses": {
                    "200" : {
                        "description" : "OK",
                        "schema": {
                            "$ref": "#/definitions/LastNameResponse"
                        }
                    },
                    "400" : {
                        "description": "Unexpected Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/names/lastnames/female/{qty}" : {
            "get": {
                "tags": ["Names"],
                "summary" : "Obtain a list of random female lastnames",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "default": 10,
                        "description": "The amount of results you would like returned"
                    }
                ],
                "responses": {
                    "200" : {
                        "description" : "OK",
                        "schema": {
                            "$ref": "#/definitions/LastNameResponse"
                        }
                    },
                    "400" : {
                        "description": "Unexpected Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/names/middlenames/{qty}" : {
            "get": {
                "tags": ["Names"],
                "summary" : "Obtain a list of random middlenames",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "default": 10,
                        "description": "The amount of results you would like returned"
                    }
                ],
                "responses": {
                    "200" : {
                        "description" : "OK",
                        "schema": {
                            "$ref": "#/definitions/LastNameResponse"
                        }
                    },
                    "400" : {
                        "description": "Unexpected Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/names/middlenames/male/{qty}" : {
            "get": {
                "tags": ["Names"],
                "summary" : "Obtain a list of random male middlenames",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "default": 10,
                        "description": "The amount of results you would like returned"
                    }
                ],
                "responses": {
                    "200" : {
                        "description" : "OK",
                        "schema": {
                            "$ref": "#/definitions/LastNameResponse"
                        }
                    },
                    "400" : {
                        "description": "Unexpected Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/names/middlenames/female/{qty}" : {
            "get": {
                "tags": ["Names"],
                "summary" : "Obtain a list of random female middlename",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "default": 10,
                        "description": "The amount of results you would like returned"
                    }
                ],
                "responses": {
                    "200" : {
                        "description" : "OK",
                        "schema": {
                            "$ref": "#/definitions/LastNameResponse"
                        }
                    },
                    "400" : {
                        "description": "Unexpected Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/sports/football/leagues/premier/teams" : {
            "get": {
                "tags": ["Sports"],
                "summary" : "Get a list of teams in the uk premier football league from 2022",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "default": 10,
                        "description": "The amount of results you would like returned"
                    }
                ],
                "responses": {
                    "200" : {
                        "description" : "OK",
                        "schema": {
                            "type" : "array",
                            "items": {
                                "type" : "object",
                                "example": "{ teamName: '', location: '', stadium: '', capacity: ''}"
                            }
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "ErrorResponse": {
            "type": "string",
            "example": "An unknown error occured, please try again."
        },
        "CountriesListResponse" : {
            "properties": {
                "countries": {
                    "type": "array",
                    "items": {
                        "type": "string",
                        "example": "United Kingdom" 
                    }
                }
            }
        },
        "FullNamesResponse" : {
            "properties": {
                "fullNamesList" : {
                    "type" : "array",
                    "items": {
                        "type" : "string",
                        "example": "Aaron D Rackley"
                    }
                }
            }
        },
        "FirstNamesResponse" : {
            "properties": {
                "firstNamesList" : {
                    "type" : "array",
                    "items": {
                        "type" : "string",
                        "example": "Mandy"
                    }
                }
            }
        },
        "LastNameResponse" : {
            "properties": {
                "lastNamesList" : {
                    "type" : "array",
                    "items": {
                        "type" : "string",
                        "example": "smith"
                    }
                }
            }
        }
    }
  }