{
    "swagger": "2.0",
    "info": {
        "version": "0.12.0",
        "title": "Mocked-API",
        "description": "An API library for providing endpoints of mock data for use during testing. This API is still in the development and until it reaches version 1.0.0 the API is subject to change. To find out more head over to https://mocked-api.dev/"
    },
    "host": "api.mocked-api.dev",
    "schemes": [
        "https"
    ],
    "basePath": "/",
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "tags": [
        {
            "name": "Animals",
            "description": "A set of endpoints related to animal"
        },
        {
            "name": "Chat",
            "description": "A set of endpoints related to chats"
        },
        {
            "name": "Colors",
            "description": "A set of endpoints related to colors"
        },
        {
            "name": "Countries",
            "description": "A set of endpoints related to countries"
        },
        {
            "name": "Currencies",
            "description": "A set of endpoints related to currencies"
        },
        {
            "name": "Emails",
            "description": "A set of endpoints related to emails"
        },
        {
            "name": "Images",
            "description": "A set of endpoints related to obtaining placeholder image urls"
        },
        {
            "name": "Music",
            "description": "A set of endpoints related to music"
        },
        {
            "name": "Names",
            "description": "A set of endpoints to get randomly generated names"
        },
        {
            "name": "Products",
            "description": "A set of endpoints to get random product related info"
        },
        {
            "name": "Quotes",
            "description": "A set of endpoints to get random quote"
        },
        {
            "name": "Socials",
            "description": "A set of endpoints to get random social feed data"  
        },
        {
            "name": "Sports",
            "description": "A set of endpoints to get random sports data"
        },
        {
            "name": "Timezones",
            "description": "A set of endpoints to get random Timezones values"
        }
    ],
    "paths": {
        "/animals/bear/species/{qty}": {
            "get": {
                "tags": [
                    "Animals"
                ],
                "summary": "Obtain a random list of bear species with no duplications",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of species you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "Sun bear"
                            }
                        }
                    }
                }
            }
        },
        "/animals/bird/species/{qty}": {
            "get": {
                "tags": [
                    "Animals"
                ],
                "summary": "Obtain a random list of bird species with no duplications",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of species you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "Sun bear"
                            }
                        }
                    }
                }
            }
        },
        "/animals/cat/species/{qty}": {
            "get": {
                "tags": [
                    "Animals"
                ],
                "summary": "Obtain a random list of cat species with no duplications",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of species you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "Sun bear"
                            }
                        }
                    }
                }
            }
        },
        "/animals/cetecean/species/{qty}": {
            "get": {
                "tags": [
                    "Animals"
                ],
                "summary": "Obtain a random list of cetecean species with no duplications",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of species you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "Sun bear"
                            }
                        }
                    }
                }
            }
        },
        "/animals/cow/species/{qty}": {
            "get": {
                "tags": [
                    "Animals"
                ],
                "summary": "Obtain a random list of cow species with no duplications",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of species you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "Sun bear"
                            }
                        }
                    }
                }
            }
        },
        "/animals/crocodile/species/{qty}": {
            "get": {
                "tags": [
                    "Animals"
                ],
                "summary": "Obtain a random list of crocodile species with no duplications",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of species you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "Sun bear"
                            }
                        }
                    }
                }
            }
        },
        "/animals/dog/species/{qty}": {
            "get": {
                "tags": [
                    "Animals"
                ],
                "summary": "Obtain a random list of dog species with no duplications",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of species you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "Sun bear"
                            }
                        }
                    }
                }
            }
        },
        "/animals/fish/species/{qty}": {
            "get": {
                "tags": [
                    "Animals"
                ],
                "summary": "Obtain a random list of fish species with no duplications",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of species you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "Sun bear"
                            }
                        }
                    }
                }
            }
        },
        "/animals/horse/species/{qty}": {
            "get": {
                "tags": [
                    "Animals"
                ],
                "summary": "Obtain a random list of horse species with no duplications",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of species you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "Sun bear"
                            }
                        }
                    }
                }
            }
        },
        "/animals/insect/species/{qty}": {
            "get": {
                "tags": [
                    "Animals"
                ],
                "summary": "Obtain a random list of insect species with no duplications",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of species you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "Sun bear"
                            }
                        }
                    }
                }
            }
        },
        "/animals/lion/species/{qty}": {
            "get": {
                "tags": [
                    "Animals"
                ],
                "summary": "Obtain a random list of lion species with no duplications",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of species you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "Sun bear"
                            }
                        }
                    }
                }
            }
        },
        "/animals/rabbit/species/{qty}": {
            "get": {
                "tags": [
                    "Animals"
                ],
                "summary": "Obtain a random list of rabbit species with no duplications",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of species you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "Sun bear"
                            }
                        }
                    }
                }
            }
        },
        "/animals/rodent/species/{qty}": {
            "get": {
                "tags": [
                    "Animals"
                ],
                "summary": "Obtain a random list of rodent species with no duplications",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of species you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "Sun bear"
                            }
                        }
                    }
                }
            }
        },
        "/animals/snake/species/{qty}": {
            "get": {
                "tags": [
                    "Animals"
                ],
                "summary": "Obtain a random list of snake species with no duplications",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of species you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "Sun bear"
                            }
                        }
                    }
                }
            }
        },
        "/chat/random": {
            "get": {
                "tags": [
                    "Chat"
                ],
                "summary": "Returns a random chat of 100 users and 1000 messages using randomly generated sentances",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/MockChatResponse"
                        }
                    }
                }
            }
        },
        "/chat/random/{userCount}/{messageCount}": {
            "get": {
                "tags": [
                    "Chat"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "userCount",
                        "description": "The amount of users the messages can be generated from",
                        "type": "string",
                        "default": 100
                    },
                    {
                        "in": "path",
                        "name": "messageCount",
                        "description": "The amount of messages that will be returned",
                        "type": "string",
                        "default": 1000
                    }
                ],
                "summary": "Returns a random chat of messages from defined counts using randomly generated sentances",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/MockChatResponse"
                        }
                    }
                }
            }
        },
        "/colors/{qty}" : {
            "get": {
                "tags": ["Colors"],
                "summary" : "Obtain a random color",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "They quantity of colors you want to generate",
                        "required": false,
                        "type": "string",
                        "default": 1
                    }
                ],
                "responses": {
                    "200" : {
                        "description" : "OK",
                        "schema": {
                            "type" : "array",
                            "items": {
                                "type" : "string",
                                "example": "efc27b"
                            }
                        }
                    }
                }
            }
        },
        "/colors/{qty}/{colorSpace}/{colorFormat}" : {
            "get": {
                "tags": ["Colors"],
                "summary" : "Obtain a random color",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "They quantity of colors you want to generate",
                        "required": true,
                        "type": "string",
                        "default": 1
                    },
                    {
                        "in": "path",
                        "name": "colorSpace",
                        "description": "The color space of the output color",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "rgb",
                            "rgba",
                            "hsl",
                            "hsla",
                            "hsv",
                            "hsva",
                            "cmyk",
                            "cmyka"
                        ],
                        "default": "rgb"
                    },
                    {
                        "in": "path",
                        "name": "colorFormat",
                        "description": "The format of the output color \nNote: hex is only available if the color space doesn't include alpha",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "hex",
                            "decimal",
                            "css"
                        ],
                        "default": "hex"
                    }
                ],
                "responses": {
                    "200" : {
                        "description" : "OK",
                        "schema": {
                            "type" : "array",
                            "items": {
                                "type" : "string",
                                "example": "efc27b"
                            }
                        }
                    }
                }
            }
        },
        "/countries": {
            "get": {
                "tags": [
                    "Countries"
                ],
                "summary": "Obtain a list of all countries",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "United Kingdom, United States Of America"
                            }
                        }
                    }
                }
            }
        },
        "/countries/{filterBy}": {
            "get": {
                "tags": [
                    "Countries"
                ],
                "summary": "Obtain a list of all countries that contain filtered text",
                "parameters": [
                    {
                        "in": "path",
                        "name": "filterBy",
                        "description": "The text you would like to filter countries by",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "United Kingdom"
                            }
                        }
                    }
                }
            }
        },
        "/currencies/market-overview": {
            "get": {
                "tags": [
                    "Currencies"
                ],
                "summary": "Get a snapshot of the currency market",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "example": "{currency: 'EUR-USD', value: '0.9945', change: '-0.0021', netChange: '-0.21%'}"
                            }
                        }
                    }
                }
            }
        },
        "/currencies/gbp-usd/ticker": {
            "get": {
                "tags": [
                    "Currencies"
                ],
                "summary": "Returns a set of chart data of price data for a given currency market",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object"
                            }
                        }
                    }
                }
            }
        },
        "/currencies/digital-coins/bitcoin/random-address/{qty}": {
            "get": {
                "tags": [
                    "Currencies"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of addresses you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "summary": "Returns random bitcoin addresses",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "/currencies/digital-coins/ethereum/random-address/{qty}": {
            "get": {
                "tags": [
                    "Currencies"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of addresses you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "summary": "Returns random ethereum addresses",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "/currencies/digital-coins/litecoin/random-address/{qty}": {
            "get": {
                "tags": [
                    "Currencies"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of addresses you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "summary": "Returns random litecoin addresses",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "/emails" : {
            "get": {
                "tags": ["Emails"],
                "summary" : "Returns a list of emails",
                "responses": {
                    "200" : {
                        "description" : "OK",
                        "schema": {
                            "$ref": "#/definitions/MockEmails"
                        }
                    }
                }
            }
        },
        "/images/abstract/{width}/{height}/{qty}": {
            "get": {
                "tags": [
                    "Images"
                ],
                "summary": "Obtain a list of abstract image urls",
                "parameters": [
                    {
                        "in": "path",
                        "name": "width",
                        "description": "Width in pixels that your image needs to be",
                        "type": "number",
                        "default": 640
                    },
                    {
                        "in": "path",
                        "name": "height",
                        "description": "Height in pixels that your image needs to be",
                        "type": "number",
                        "default": 480
                    },
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of image urls you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "https://loremflickr.com/1024/201/cats?49645"
                            }
                        }
                    }
                }
            }
        },
        "/images/animals/{width}/{height}/{qty}": {
            "get": {
                "tags": [
                    "Images"
                ],
                "summary": "Obtain a list of animal image urls",
                "parameters": [
                    {
                        "in": "path",
                        "name": "width",
                        "description": "Width in pixels that your image needs to be",
                        "type": "number",
                        "default": 640
                    },
                    {
                        "in": "path",
                        "name": "height",
                        "description": "Height in pixels that your image needs to be",
                        "type": "number",
                        "default": 480
                    },
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of image urls you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "https://loremflickr.com/1024/201/cats?49645"
                            }
                        }
                    }
                }
            }
        },
        "/images/avatar/{width}/{height}/{qty}": {
            "get": {
                "tags": [
                    "Images"
                ],
                "summary": "Obtain a list of avatar image urls",
                "parameters": [
                    {
                        "in": "path",
                        "name": "width",
                        "description": "Width in pixels that your image needs to be",
                        "type": "number",
                        "default": 640
                    },
                    {
                        "in": "path",
                        "name": "height",
                        "description": "Height in pixels that your image needs to be",
                        "type": "number",
                        "default": 480
                    },
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of image urls you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "https://loremflickr.com/1024/201/cats?49645"
                            }
                        }
                    }
                }
            }
        },
        "/images/business/{width}/{height}/{qty}": {
            "get": {
                "tags": [
                    "Images"
                ],
                "summary": "Obtain a list of business image urls",
                "parameters": [
                    {
                        "in": "path",
                        "name": "width",
                        "description": "Width in pixels that your image needs to be",
                        "type": "number",
                        "default": 640
                    },
                    {
                        "in": "path",
                        "name": "height",
                        "description": "Height in pixels that your image needs to be",
                        "type": "number",
                        "default": 480
                    },
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of image urls you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "https://loremflickr.com/1024/201/cats?49645"
                            }
                        }
                    }
                }
            }
        },
        "/images/cats/{width}/{height}/{qty}": {
            "get": {
                "tags": [
                    "Images"
                ],
                "summary": "Obtain a list of cat image urls",
                "parameters": [
                    {
                        "in": "path",
                        "name": "width",
                        "description": "Width in pixels that your image needs to be",
                        "type": "number",
                        "default": 640
                    },
                    {
                        "in": "path",
                        "name": "height",
                        "description": "Height in pixels that your image needs to be",
                        "type": "number",
                        "default": 480
                    },
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of image urls you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "https://loremflickr.com/1024/201/cats?49645"
                            }
                        }
                    }
                }
            }
        },
        "/images/city/{width}/{height}/{qty}": {
            "get": {
                "tags": [
                    "Images"
                ],
                "summary": "Obtain a list of city image urls",
                "parameters": [
                    {
                        "in": "path",
                        "name": "width",
                        "description": "Width in pixels that your image needs to be",
                        "type": "number",
                        "default": 640
                    },
                    {
                        "in": "path",
                        "name": "height",
                        "description": "Height in pixels that your image needs to be",
                        "type": "number",
                        "default": 480
                    },
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of image urls you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "https://loremflickr.com/1024/201/cats?49645"
                            }
                        }
                    }
                }
            }
        },
        "/images/fashion/{width}/{height}/{qty}": {
            "get": {
                "tags": [
                    "Images"
                ],
                "summary": "Obtain a list of fashion image urls",
                "parameters": [
                    {
                        "in": "path",
                        "name": "width",
                        "description": "Width in pixels that your image needs to be",
                        "type": "number",
                        "default": 640
                    },
                    {
                        "in": "path",
                        "name": "height",
                        "description": "Height in pixels that your image needs to be",
                        "type": "number",
                        "default": 480
                    },
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of image urls you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "https://loremflickr.com/1024/201/cats?49645"
                            }
                        }
                    }
                }
            }
        },
        "/images/food/{width}/{height}/{qty}": {
            "get": {
                "tags": [
                    "Images"
                ],
                "summary": "Obtain a list of food image urls",
                "parameters": [
                    {
                        "in": "path",
                        "name": "width",
                        "description": "Width in pixels that your image needs to be",
                        "type": "number",
                        "default": 640
                    },
                    {
                        "in": "path",
                        "name": "height",
                        "description": "Height in pixels that your image needs to be",
                        "type": "number",
                        "default": 480
                    },
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of image urls you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "https://loremflickr.com/1024/201/cats?49645"
                            }
                        }
                    }
                }
            }
        },
        "/images/nature/{width}/{height}/{qty}": {
            "get": {
                "tags": [
                    "Images"
                ],
                "summary": "Obtain a list of nature image urls",
                "parameters": [
                    {
                        "in": "path",
                        "name": "width",
                        "description": "Width in pixels that your image needs to be",
                        "type": "number",
                        "default": 640
                    },
                    {
                        "in": "path",
                        "name": "height",
                        "description": "Height in pixels that your image needs to be",
                        "type": "number",
                        "default": 480
                    },
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of image urls you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "https://loremflickr.com/1024/201/cats?49645"
                            }
                        }
                    }
                }
            }
        },
        "/images/nightlife/{width}/{height}/{qty}": {
            "get": {
                "tags": [
                    "Images"
                ],
                "summary": "Obtain a list of nightlife image urls",
                "parameters": [
                    {
                        "in": "path",
                        "name": "width",
                        "description": "Width in pixels that your image needs to be",
                        "type": "number",
                        "default": 640
                    },
                    {
                        "in": "path",
                        "name": "height",
                        "description": "Height in pixels that your image needs to be",
                        "type": "number",
                        "default": 480
                    },
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of image urls you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "https://loremflickr.com/1024/201/cats?49645"
                            }
                        }
                    }
                }
            }
        },
        "/images/people/{width}/{height}/{qty}": {
            "get": {
                "tags": [
                    "Images"
                ],
                "summary": "Obtain a list of people image urls",
                "parameters": [
                    {
                        "in": "path",
                        "name": "width",
                        "description": "Width in pixels that your image needs to be",
                        "type": "number",
                        "default": 640
                    },
                    {
                        "in": "path",
                        "name": "height",
                        "description": "Height in pixels that your image needs to be",
                        "type": "number",
                        "default": 480
                    },
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of image urls you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "https://loremflickr.com/1024/201/cats?49645"
                            }
                        }
                    }
                }
            }
        },
        "/images/sports/{width}/{height}/{qty}": {
            "get": {
                "tags": [
                    "Images"
                ],
                "summary": "Obtain a list of sports image urls",
                "parameters": [
                    {
                        "in": "path",
                        "name": "width",
                        "description": "Width in pixels that your image needs to be",
                        "type": "number",
                        "default": 640
                    },
                    {
                        "in": "path",
                        "name": "height",
                        "description": "Height in pixels that your image needs to be",
                        "type": "number",
                        "default": 480
                    },
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of image urls you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "https://loremflickr.com/1024/201/cats?49645"
                            }
                        }
                    }
                }
            }
        },
        "/images/technics/{width}/{height}/{qty}": {
            "get": {
                "tags": [
                    "Images"
                ],
                "summary": "Obtain a list of technics image urls",
                "parameters": [
                    {
                        "in": "path",
                        "name": "width",
                        "description": "Width in pixels that your image needs to be",
                        "type": "number",
                        "default": 640
                    },
                    {
                        "in": "path",
                        "name": "height",
                        "description": "Height in pixels that your image needs to be",
                        "type": "number",
                        "default": 480
                    },
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of image urls you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "https://loremflickr.com/1024/201/cats?49645"
                            }
                        }
                    }
                }
            }
        },
        "/images/transport/{width}/{height}/{qty}": {
            "get": {
                "tags": [
                    "Images"
                ],
                "summary": "Obtain a list of transport image urls",
                "parameters": [
                    {
                        "in": "path",
                        "name": "width",
                        "description": "Width in pixels that your image needs to be",
                        "type": "number",
                        "default": 640
                    },
                    {
                        "in": "path",
                        "name": "height",
                        "description": "Height in pixels that your image needs to be",
                        "type": "number",
                        "default": 480
                    },
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of image urls you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "https://loremflickr.com/1024/201/cats?49645"
                            }
                        }
                    }
                }
            }
        },
        "/music/{qty}" : {
            "get": {
                "tags": ["Music"],
                "summary" : "Get a list of teams in the uk premier football league from 2022",
                "responses": {
                    "200" : {
                        "description" : "OK",
                        "schema": {
                            "type" : "array",
                            "items": {
                                "type" : "object",
                                "example": "{ teamName: '', location: '', stadium: '', capacity: ''}"
                            }
                        }
                    }
                }
            }
        },
        "/names/firstnames/{qty}": {
            "get": {
                "tags": [
                    "Names"
                ],
                "summary": "Obtain a list of random firstnames",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "default": 10,
                        "description": "The amount of results you would like returned"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/FirstNamesResponse"
                        }
                    },
                    "400": {
                        "description": "Unexpected Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/names/firstnames/male/{qty}": {
            "get": {
                "tags": [
                    "Names"
                ],
                "summary": "Obtain a list of random male firstnames",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "default": 10,
                        "description": "The amount of results you would like returned"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/FirstNamesResponse"
                        }
                    },
                    "400": {
                        "description": "Unexpected Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/names/firstnames/female/{qty}": {
            "get": {
                "tags": [
                    "Names"
                ],
                "summary": "Obtain a list of random female firstnames",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "default": 10,
                        "description": "The amount of results you would like returned"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/FirstNamesResponse"
                        }
                    },
                    "400": {
                        "description": "Unexpected Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/names/fullnames/{qty}": {
            "get": {
                "tags": [
                    "Names"
                ],
                "summary": "Obtain a list of random fullnames",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "default": 10,
                        "description": "The amount of results you would like returned"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "Bobby Weiman, Tammy Swaniawski"
                            }
                        }
                    },
                    "400": {
                        "description": "Unexpected Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/names/fullnames/male/{qty}": {
            "get": {
                "tags": [
                    "Names"
                ],
                "summary": "Obtain a list of random male fullnames",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "default": 10,
                        "description": "The amount of results you would like returned"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "items": {
                                "type": "string",
                                "example": "Bobby Weiman, Tammy Swaniawski"
                            }
                        }
                    },
                    "400": {
                        "description": "Unexpected Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/names/fullnames/female/{qty}": {
            "get": {
                "tags": [
                    "Names"
                ],
                "summary": "Obtain a list of random female fullnames",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "default": 10,
                        "description": "The amount of results you would like returned"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/FullNamesResponse"
                        }
                    },
                    "400": {
                        "description": "Unexpected Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/names/lastnames/{qty}": {
            "get": {
                "tags": [
                    "Names"
                ],
                "summary": "Obtain a list of random lastnames",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "default": 10,
                        "description": "The amount of results you would like returned"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/LastNameResponse"
                        }
                    },
                    "400": {
                        "description": "Unexpected Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/names/lastnames/male/{qty}": {
            "get": {
                "tags": [
                    "Names"
                ],
                "summary": "Obtain a list of random male lastnames",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "default": 10,
                        "description": "The amount of results you would like returned"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/LastNameResponse"
                        }
                    },
                    "400": {
                        "description": "Unexpected Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/names/lastnames/female/{qty}": {
            "get": {
                "tags": [
                    "Names"
                ],
                "summary": "Obtain a list of random female lastnames",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "default": 10,
                        "description": "The amount of results you would like returned"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/LastNameResponse"
                        }
                    },
                    "400": {
                        "description": "Unexpected Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/names/middlenames/{qty}": {
            "get": {
                "tags": [
                    "Names"
                ],
                "summary": "Obtain a list of random middlenames",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "default": 10,
                        "description": "The amount of results you would like returned"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/LastNameResponse"
                        }
                    },
                    "400": {
                        "description": "Unexpected Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/names/middlenames/male/{qty}": {
            "get": {
                "tags": [
                    "Names"
                ],
                "summary": "Obtain a list of random male middlenames",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "default": 10,
                        "description": "The amount of results you would like returned"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/LastNameResponse"
                        }
                    },
                    "400": {
                        "description": "Unexpected Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/names/middlenames/female/{qty}": {
            "get": {
                "tags": [
                    "Names"
                ],
                "summary": "Obtain a list of random female middlename",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "default": 10,
                        "description": "The amount of results you would like returned"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/LastNameResponse"
                        }
                    },
                    "400": {
                        "description": "Unexpected Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/products/reviews": {
            "get": {
                "tags": [
                    "Products"
                ],
                "summary": "Obtain a list of random reviews",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/MockProductReview"
                        }
                    }
                }
            }
        },
        "/products/reviews/ratings/{rating}": {
            "get": {
                "tags": [
                    "Products"
                ],
                "summary": "Obtain a list of random reviews with a specific rating",
                "parameters": [
                    {
                        "in": "path",
                        "name": "rating",
                        "description": "The rating you would like your mocked reviews to be"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/MockProductReview"
                        }
                    }
                }
            }
        },
        "/quotes": {
            "get": {
                "tags": [
                    "Quotes"
                ],
                "summary": "Get a list of all quotes from the database",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "default": 10,
                        "description": "The amount of results you would like returned"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "example": "{ quote: '', author: ''}"
                            }
                        }
                    }
                }
            }
        },
        "/quotes/random": {
            "get": {
                "tags": [
                    "Quotes"
                ],
                "summary": "Get a random quote from the database",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "items": {
                                "type": "object",
                                "example": "{ quote: '', author: ''}"
                            }
                        }
                    }
                }
            }
        },
        "/socials/twitter" : {
            "get": {
                "tags": ["Socials"],
                "summary" : "Returns random Twitter posts",
                "responses": {
                    "200" : {
                        "description" : "OK",
                        "schema": {
                            "$ref": "#/definitions/MockTwitterPosts"
                        }
                    }
                }
            }
        },
        "/sports/football/leagues/premier/teams": {
            "get": {
                "tags": [
                    "Sports"
                ],
                "summary": "Get a list of teams in the uk premier football league from 2022",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "default": 10,
                        "description": "The amount of results you would like returned"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "example": "{ teamName: '', location: '', stadium: '', capacity: ''}"
                            }
                        }
                    }
                }
            }
        },
        "/timezones": {
            "get": {
                "tags": [
                    "Timezones"
                ],
                "summary": "Get a random value of a Timezone",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": "America/Chicago"
                    }
                }
            }
        },
        "/timezones/{qty}": {
            "get": {
                "tags": [
                    "Timezones"
                ],
                "summary": "Get a random list of value of Timezones",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "default": 10,
                        "description": "The amount of results you would like returned"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": ["America", "Asia"]
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "ErrorResponse": {
            "type": "string",
            "example": "An unknown error occured, please try again."
        },
        "CountriesListResponse": {
            "properties": {
                "countries": {
                    "type": "array",
                    "items": {
                        "type": "string",
                        "example": "United Kingdom"
                    }
                }
            }
        },
        "FullNamesResponse": {
            "properties": {
                "fullNamesList": {
                    "type": "array",
                    "items": {
                        "type": "string",
                        "example": "Aaron D Rackley"
                    }
                }
            }
        },
        "FirstNamesResponse": {
            "properties": {
                "firstNamesList": {
                    "type": "array",
                    "items": {
                        "type": "string",
                        "example": "Mandy"
                    }
                }
            }
        },
        "LastNameResponse": {
            "properties": {
                "lastNamesList": {
                    "type": "array",
                    "items": {
                        "type": "string",
                        "example": "smith"
                    }
                }
            }
        },
        "MockProductReview": {
            "type": "array",
            "items": {
                "type": "object",
                "properties": {
                    "productName": {
                        "type": "string",
                        "example": "Super Gamer Juice"
                    },
                    "productId": {
                        "type": "number",
                        "example": 1
                    },
                    "message": {
                        "type": "string",
                        "example": "The only drink I will ever need."
                    },
                    "dateTime": {
                        "type": "string",
                        "example": "1984-05-21T00:02:11.497Z"
                    },
                    "rating": {
                        "type": "number",
                        "example": 1
                    },
                    "userName": {
                        "type": "string",
                        "example": "Aaron Rackley"
                    },
                    "categories": {
                        "type": "array",
                        "items": {
                            "type": "string",
                            "example": "sport-drinks"
                        }
                    }
                }
            }
        },
        "MockChatMessages" : {
            "type": "array",
            "items": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "example": "dc90af0e-f073-45e7-8a77-69e7e94aed31"
                    },
                    "createdAt": {
                        "type": "string",
                        "example": "2022-09-22T16:03:17.885Z"
                    },
                    "message": {
                        "type": "string",
                        "example": "Dicta amet dolores mollitia eveniet commodi."
                    },
                    "userId": {
                        "type": "string",
                        "example": "d392a495-3f4c-4660-a896-dce057afbbd4"
                    }
                }
            }
        },
        "MockUsers" : {
            "type": "array",
            "items": {
                "type": "object",
                "properties": {
                    "userId" : {
                        "type" : "string",
                        "example" : "d392a495-3f4c-4660-a896-dce057afbbd4"
                    },
                    "username" : {
                        "type" : "string",
                        "example" : "Aaron Rackley"
                    },
                    "email" : {
                        "type" : "string",
                        "example" : "john.doe@example.com"
                    },
                    "avatarUrl" : {
                        "type" : "string",
                        "example" : "https://cloudflare-ipfs.com/ipfs/Qmd3W5DuhgHirLHGVixi6V76LhCkZUz6pnFt5AJBiyvHye/avatar/597.jpg"
                    },
                    "password" : {
                        "type" : "string",
                        "example" : "password"
                    },
                    "birthDate" : {
                        "type" : "string",
                        "example" : "1984-05-21T00:02:11.497Z"
                    },
                    "registeredAt" : {
                        "type" : "string",
                        "example" : "2022-09-22T16:03:17.885Z"
                    }
                }
            }
        },
        "MockChatResponse" : {
            "type" : "object",
            "properties": {
                "users" : {
                    "$ref" : "#/definitions/MockUsers"
                },
                "messages" : {
                    "$ref" : "#/definitions/MockChatMessages"
                }
            }
        },
        "MockEmails" : {
            "type": "array",
            "items": {
                "type": "object",
                "properties": {
                    "id" : {
                        "type" : "string",
                        "example" : "dc90af0e-f073-45e7-8a77-69e7e94aed31"
                    },
                    "from" : {
                        "type" : "string",
                        "example" : "john.doe@example.com"
                    },
                    "subject" : {
                        "type" : "string",
                        "example" : "Lorem ipsum dolor"
                    },
                    "body" : {
                        "type" : "string",
                        "example" : "Dicta amet dolores mollitia eveniet commodi."
                    },
                    "read" : {
                        "type" : "boolean",
                        "example" : false
                    },
                    "tags" : {
                        "type": "array",
                        "items": {
                            "type": "string",
                            "example": "important"
                        }
                    },
                    "date" : {
                        "type" : "string",
                        "example" : "2022-09-22T16:03:17.885Z"
                    }
                }
            }
        },
        "MockTwitterPosts" : {
            "type": "array",
            "items": {
                "type": "object",
                "properties": {
                    "id" : {
                        "type" : "string",
                        "example" : "dc90af0e-f073-45e7-8a77-69e7e94aed31"
                    },
                    "handle" : {
                        "type" : "string",
                        "example" : "@JohnDoe"
                    },
                    "message" : {
                        "type" : "string",
                        "example" : "Dicta amet dolores mollitia eveniet commodi."
                    },
                    "media" : {
                        "type" : "string",
                        "example" : "https://loremflickr.com/640/480"
                    },
                    "likes" : {
                        "type" : "number",
                        "example" : 438
                    },
                    "comments" : {
                        "type" : "number",
                        "example" : 10
                    },
                    "retweets" : {
                        "type" : "number",
                        "example" : 2
                    },
                    "date" : {
                        "type" : "string",
                        "example" : "2022-09-22T16:03:17.885Z"
                    }
                }
            }
        }
    }
  }
