{
    "swagger": "2.0",
    "info": {
        "version": "0.18.0",
        "title": "Mocked-API",
        "description": "An API library for providing endpoints of mock data for use during testing. This API is still in the development and until it reaches version 1.0.0 the API is subject to change. To find out more head over to https://mocked-api.dev/"
    },
    "host": "api.mocked-api.dev",
    "schemes": [
        "https"
    ],
    "basePath": "/",
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "tags": [
        {
            "name": "Address",
            "description": "A set of endpoints related to addresses"
        },
        {
            "name": "Animals",
            "description": "A set of endpoints related to animal"
        },
        {
            "name": "Banks",
            "description": "A set of endpoints related to bank feeds"
        },
        {
            "name": "Chat",
            "description": "A set of endpoints related to chats"
        },
        {
            "name": "Chuck Norris",
            "description": "A set of endpoints related to Chuck Norris Facts"
        },
        {
            "name": "Colors",
            "description": "A set of endpoints related to colors"
        },
        {
            "name": "Coordinates",
            "description": "A set of endpoints to obtain random coordinates"
        },
        {
            "name": "Countries",
            "description": "A set of endpoints related to countries"
        },
        {
            "name": "Courses",
            "description": "A set of endpoints related to Courses"
        },
        {
            "name": "Currencies",
            "description": "A set of endpoints related to currencies"
        },
        {
            "name": "Ecommerce",
            "description": "A set of endpoints related to ecommerce"
        },
        {
            "name": "Elements",
            "description": "A set of endpoints related to elements on the periodic table"
        },
        {
            "name": "Emails",
            "description": "A set of endpoints related to emails"
        },
        {
            "name": "Food",
            "description": "A set of endpoints related to food"
        },
        {
            "name": "Images",
            "description": "A set of endpoints related to obtaining placeholder image urls"
        },
        {
            "name": "Instruments",
            "description": "A set of endpoints related to instruments"
        },
        {
            "name": "Invoices",
            "description": "A set of endpoints related to invoices"
        },
        {
            "name": "IPs",
            "description": "A set of endpoints related to obtaining random IP Addresses"
        },
        {
            "name": "Movies",
            "description": "A set of endpoints related to get movies"
        },
        {
            "name": "Music",
            "description": "A set of endpoints related to music"
        },
        {
            "name": "Names",
            "description": "A set of endpoints to get randomly generated names"
        },
        {
            "name": "News",
            "description": "A set of endpoints to get news"
        },
        {
            "name": "Phone Numbers",
            "description": "A set of endpoints to get random phone numbers"
        },
        {
            "name": "Products",
            "description": "A set of endpoints to get random product related info"
        },
        {
            "name": "Quotes",
            "description": "A set of endpoints to get random quote"
        },
        {
            "name": "Socials",
            "description": "A set of endpoints to get random social feed data"
        },
        {
            "name": "Sports",
            "description": "A set of endpoints to get random sports data"
        },
        {
            "name": "Text",
            "description": "A set of endpoints to get random text"
        },
        {
            "name": "TimeZones",
            "description": "A set of endpoints to get random time zones"
        },
        {
            "name": "Users",
            "description": "A set of endpoints to get random user data"
        },
        {
            "name": "Vehicles",
            "description": "A set of endpoints to obtain vehicles"
        },
        {
            "name": "Video",
            "description": "A set of endpoints to obtain random video data"
        },
        {
            "name": "Weathers",
            "description": "A set of endpoints to get random weather data"
        }
    ],
    "paths": {
        "/animals/bear/species/{qty}": {
            "get": {
                "tags": [
                    "Animals"
                ],
                "summary": "Obtain a random list of bear species with no duplications",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of species you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "Sun bear"
                            }
                        }
                    }
                }
            }
        },
        "/animals/bird/species/{qty}": {
            "get": {
                "tags": [
                    "Animals"
                ],
                "summary": "Obtain a random list of bird species with no duplications",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of species you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "Sun bear"
                            }
                        }
                    }
                }
            }
        },
        "/animals/cat/species/{qty}": {
            "get": {
                "tags": [
                    "Animals"
                ],
                "summary": "Obtain a random list of cat species with no duplications",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of species you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "Sun bear"
                            }
                        }
                    }
                }
            }
        },
        "/animals/cetecean/species/{qty}": {
            "get": {
                "tags": [
                    "Animals"
                ],
                "summary": "Obtain a random list of cetecean species with no duplications",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of species you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "Sun bear"
                            }
                        }
                    }
                }
            }
        },
        "/animals/cow/species/{qty}": {
            "get": {
                "tags": [
                    "Animals"
                ],
                "summary": "Obtain a random list of cow species with no duplications",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of species you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "Sun bear"
                            }
                        }
                    }
                }
            }
        },
        "/animals/crocodile/species/{qty}": {
            "get": {
                "tags": [
                    "Animals"
                ],
                "summary": "Obtain a random list of crocodile species with no duplications",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of species you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "Sun bear"
                            }
                        }
                    }
                }
            }
        },
        "/animals/dog/species/{qty}": {
            "get": {
                "tags": [
                    "Animals"
                ],
                "summary": "Obtain a random list of dog species with no duplications",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of species you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "Sun bear"
                            }
                        }
                    }
                }
            }
        },
        "/animals/fish/species/{qty}": {
            "get": {
                "tags": [
                    "Animals"
                ],
                "summary": "Obtain a random list of fish species with no duplications",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of species you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "Sun bear"
                            }
                        }
                    }
                }
            }
        },
        "/animals/horse/species/{qty}": {
            "get": {
                "tags": [
                    "Animals"
                ],
                "summary": "Obtain a random list of horse species with no duplications",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of species you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "Sun bear"
                            }
                        }
                    }
                }
            }
        },
        "/animals/insect/species/{qty}": {
            "get": {
                "tags": [
                    "Animals"
                ],
                "summary": "Obtain a random list of insect species with no duplications",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of species you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "Sun bear"
                            }
                        }
                    }
                }
            }
        },
        "/animals/lion/species/{qty}": {
            "get": {
                "tags": [
                    "Animals"
                ],
                "summary": "Obtain a random list of lion species with no duplications",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of species you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "Sun bear"
                            }
                        }
                    }
                }
            }
        },
        "/animals/rabbit/species/{qty}": {
            "get": {
                "tags": [
                    "Animals"
                ],
                "summary": "Obtain a random list of rabbit species with no duplications",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of species you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "Sun bear"
                            }
                        }
                    }
                }
            }
        },
        "/animals/rodent/species/{qty}": {
            "get": {
                "tags": [
                    "Animals"
                ],
                "summary": "Obtain a random list of rodent species with no duplications",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of species you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "Sun bear"
                            }
                        }
                    }
                }
            }
        },
        "/animals/snake/species/{qty}": {
            "get": {
                "tags": [
                    "Animals"
                ],
                "summary": "Obtain a random list of snake species with no duplications",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of species you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "Sun bear"
                            }
                        }
                    }
                }
            }
        },
        "/chat/random": {
            "get": {
                "tags": [
                    "Chat"
                ],
                "summary": "Returns a random chat of 100 users and 1000 messages using randomly generated sentances",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/MockChatResponse"
                        }
                    }
                }
            }
        },
        "/chat/random/{userCount}/{messageCount}": {
            "get": {
                "tags": [
                    "Chat"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "userCount",
                        "description": "The amount of users the messages can be generated from",
                        "type": "string",
                        "default": 100
                    },
                    {
                        "in": "path",
                        "name": "messageCount",
                        "description": "The amount of messages that will be returned",
                        "type": "string",
                        "default": 1000
                    }
                ],
                "summary": "Returns a random chat of messages from defined counts using randomly generated sentances",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/MockChatResponse"
                        }
                    }
                }
            }
        },
        "/colors/{qty}": {
            "get": {
                "tags": [
                    "Colors"
                ],
                "summary": "Obtain a random color",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "They quantity of colors you want to generate",
                        "required": false,
                        "type": "string",
                        "default": 1
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "efc27b"
                            }
                        }
                    }
                }
            }
        },
        "/colors/{qty}/{colorSpace}/{colorFormat}": {
            "get": {
                "tags": [
                    "Colors"
                ],
                "summary": "Obtain a random color",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "They quantity of colors you want to generate",
                        "required": true,
                        "type": "string",
                        "default": 1
                    },
                    {
                        "in": "path",
                        "name": "colorSpace",
                        "description": "The color space of the output color",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "rgb",
                            "rgba",
                            "hsl",
                            "hsla",
                            "hsv",
                            "hsva",
                            "cmyk",
                            "cmyka"
                        ],
                        "default": "rgb"
                    },
                    {
                        "in": "path",
                        "name": "colorFormat",
                        "description": "The format of the output color \nNote: hex is only available if the color space doesn't include alpha",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "hex",
                            "decimal",
                            "css"
                        ],
                        "default": "hex"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "efc27b"
                            }
                        }
                    }
                }
            }
        },
        "/countries": {
            "get": {
                "tags": [
                    "Countries"
                ],
                "summary": "Obtain a list of all countries",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "United Kingdom, United States Of America"
                            }
                        }
                    }
                }
            }
        },
        "/countries/{filterBy}": {
            "get": {
                "tags": [
                    "Countries"
                ],
                "summary": "Obtain a list of all countries that contain filtered text",
                "parameters": [
                    {
                        "in": "path",
                        "name": "filterBy",
                        "description": "The text you would like to filter countries by",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "United Kingdom"
                            }
                        }
                    }
                }
            }
        },
        "/currencies/market-overview": {
            "get": {
                "tags": [
                    "Currencies"
                ],
                "summary": "Get a snapshot of the currency market",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "example": "{currency: 'EUR-USD', value: '0.9945', change: '-0.0021', netChange: '-0.21%'}"
                            }
                        }
                    }
                }
            }
        },
        "/currencies/gbp-usd/ticker": {
            "get": {
                "tags": [
                    "Currencies"
                ],
                "summary": "Returns a set of chart data of price data for a given currency market",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object"
                            }
                        }
                    }
                }
            }
        },
        "/currencies/digital-coins/bitcoin/random-address/{qty}": {
            "get": {
                "tags": [
                    "Currencies"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of addresses you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "summary": "Returns random bitcoin addresses",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "/currencies/digital-coins/ethereum/random-address/{qty}": {
            "get": {
                "tags": [
                    "Currencies"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of addresses you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "summary": "Returns random ethereum addresses",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "/ecommerce/cart": {
            "get": {
                "tags": [
                    "Ecommerce"
                ],
                "summary": "Returns ecommerce cart with products and totals",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/MockEcommerceCart"
                        }
                    }
                }
            }
        },
        "/ecommerce/cart/{qty}": {
            "get": {
                "tags": [
                    "Ecommerce"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of products in your cart",
                        "type": "string",
                        "default": 5
                    }
                ],
                "summary": "Returns ecommerce cart with products and totals",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/MockEcommerceCart"
                        }
                    }
                }
            }
        },
        "/currencies/digital-coins/litecoin/random-address/{qty}": {
            "get": {
                "tags": [
                    "Currencies"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of addresses you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "summary": "Returns random litecoin addresses",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "/currencies/digital-coins/ripple/ledgers-list/{qty}": {
            "get": {
                "tags": [
                    "Currencies"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of ledgers you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "summary": "Returns a random set of Ripple (XPR) Validated Ledgers",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "/emails": {
            "get": {
                "tags": [
                    "Emails"
                ],
                "summary": "Returns a list of emails",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/MockEmails"
                        }
                    }
                }
            }
        },
        "/images/abstract/{width}/{height}/{qty}": {
            "get": {
                "tags": [
                    "Images"
                ],
                "summary": "Obtain a list of abstract image urls",
                "parameters": [
                    {
                        "in": "path",
                        "name": "width",
                        "description": "Width in pixels that your image needs to be",
                        "type": "number",
                        "default": 640
                    },
                    {
                        "in": "path",
                        "name": "height",
                        "description": "Height in pixels that your image needs to be",
                        "type": "number",
                        "default": 480
                    },
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of image urls you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200": {
                        "Countries": {
                            "description": "OK",
                            "schema": {
                                "type": "array",
                                "items": {
                                    "type": "string",
                                    "example": "https://loremflickr.com/1024/201/cats?49645"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/ip": {
            "get": {
                "tags": [
                    "ip"
                ],
                "summary": "Obtain a random ip",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "17.32.365.125"
                            }
                        }
                    }
                }
            }
        },
        "/mac": {
            "get": {
                "tags": [
                    "mac"
                ],
                "summary": "Obtain a random mac address",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "44:F8:2A:57:6A:16"
                            }
                        }
                    }
                }
            }
        },
        "/images/animals/{width}/{height}/{qty}": {
            "get": {
                "tags": [
                    "Images"
                ],
                "summary": "Obtain a list of animal image urls",
                "parameters": [
                    {
                        "in": "path",
                        "name": "width",
                        "description": "Width in pixels that your image needs to be",
                        "type": "number",
                        "default": 640
                    },
                    {
                        "in": "path",
                        "name": "height",
                        "description": "Height in pixels that your image needs to be",
                        "type": "number",
                        "default": 480
                    },
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of image urls you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "https://loremflickr.com/1024/201/cats?49645"
                            }
                        }
                    }
                }
            }
        },
        "/images/avatar/{width}/{height}/{qty}": {
            "get": {
                "tags": [
                    "Images"
                ],
                "summary": "Obtain a list of avatar image urls",
                "parameters": [
                    {
                        "in": "path",
                        "name": "width",
                        "description": "Width in pixels that your image needs to be",
                        "type": "number",
                        "default": 640
                    },
                    {
                        "in": "path",
                        "name": "height",
                        "description": "Height in pixels that your image needs to be",
                        "type": "number",
                        "default": 480
                    },
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of image urls you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "https://loremflickr.com/1024/201/cats?49645"
                            }
                        }
                    }
                }
            }
        },
        "/images/business/{width}/{height}/{qty}": {
            "get": {
                "tags": [
                    "Images"
                ],
                "summary": "Obtain a list of business image urls",
                "parameters": [
                    {
                        "in": "path",
                        "name": "width",
                        "description": "Width in pixels that your image needs to be",
                        "type": "number",
                        "default": 640
                    },
                    {
                        "in": "path",
                        "name": "height",
                        "description": "Height in pixels that your image needs to be",
                        "type": "number",
                        "default": 480
                    },
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of image urls you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "https://loremflickr.com/1024/201/cats?49645"
                            }
                        }
                    }
                }
            }
        },
        "/images/cats/{width}/{height}/{qty}": {
            "get": {
                "tags": [
                    "Images"
                ],
                "summary": "Obtain a list of cat image urls",
                "parameters": [
                    {
                        "in": "path",
                        "name": "width",
                        "description": "Width in pixels that your image needs to be",
                        "type": "number",
                        "default": 640
                    },
                    {
                        "in": "path",
                        "name": "height",
                        "description": "Height in pixels that your image needs to be",
                        "type": "number",
                        "default": 480
                    },
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of image urls you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "https://loremflickr.com/1024/201/cats?49645"
                            }
                        }
                    }
                }
            }
        },
        "/images/city/{width}/{height}/{qty}": {
            "get": {
                "tags": [
                    "Images"
                ],
                "summary": "Obtain a list of city image urls",
                "parameters": [
                    {
                        "in": "path",
                        "name": "width",
                        "description": "Width in pixels that your image needs to be",
                        "type": "number",
                        "default": 640
                    },
                    {
                        "in": "path",
                        "name": "height",
                        "description": "Height in pixels that your image needs to be",
                        "type": "number",
                        "default": 480
                    },
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of image urls you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "https://loremflickr.com/1024/201/cats?49645"
                            }
                        }
                    }
                }
            }
        },
        "/images/fashion/{width}/{height}/{qty}": {
            "get": {
                "tags": [
                    "Images"
                ],
                "summary": "Obtain a list of fashion image urls",
                "parameters": [
                    {
                        "in": "path",
                        "name": "width",
                        "description": "Width in pixels that your image needs to be",
                        "type": "number",
                        "default": 640
                    },
                    {
                        "in": "path",
                        "name": "height",
                        "description": "Height in pixels that your image needs to be",
                        "type": "number",
                        "default": 480
                    },
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of image urls you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "https://loremflickr.com/1024/201/cats?49645"
                            }
                        }
                    }
                }
            }
        },
        "/images/food/{width}/{height}/{qty}": {
            "get": {
                "tags": [
                    "Images"
                ],
                "summary": "Obtain a list of food image urls",
                "parameters": [
                    {
                        "in": "path",
                        "name": "width",
                        "description": "Width in pixels that your image needs to be",
                        "type": "number",
                        "default": 640
                    },
                    {
                        "in": "path",
                        "name": "height",
                        "description": "Height in pixels that your image needs to be",
                        "type": "number",
                        "default": 480
                    },
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of image urls you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "https://loremflickr.com/1024/201/cats?49645"
                            }
                        }
                    }
                }
            }
        },
        "/images/nature/{width}/{height}/{qty}": {
            "get": {
                "tags": [
                    "Images"
                ],
                "summary": "Obtain a list of nature image urls",
                "parameters": [
                    {
                        "in": "path",
                        "name": "width",
                        "description": "Width in pixels that your image needs to be",
                        "type": "number",
                        "default": 640
                    },
                    {
                        "in": "path",
                        "name": "height",
                        "description": "Height in pixels that your image needs to be",
                        "type": "number",
                        "default": 480
                    },
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of image urls you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "https://loremflickr.com/1024/201/cats?49645"
                            }
                        }
                    }
                }
            }
        },
        "/images/nightlife/{width}/{height}/{qty}": {
            "get": {
                "tags": [
                    "Images"
                ],
                "summary": "Obtain a list of nightlife image urls",
                "parameters": [
                    {
                        "in": "path",
                        "name": "width",
                        "description": "Width in pixels that your image needs to be",
                        "type": "number",
                        "default": 640
                    },
                    {
                        "in": "path",
                        "name": "height",
                        "description": "Height in pixels that your image needs to be",
                        "type": "number",
                        "default": 480
                    },
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of image urls you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "https://loremflickr.com/1024/201/cats?49645"
                            }
                        }
                    }
                }
            }
        },
        "/images/people/{width}/{height}/{qty}": {
            "get": {
                "tags": [
                    "Images"
                ],
                "summary": "Obtain a list of people image urls",
                "parameters": [
                    {
                        "in": "path",
                        "name": "width",
                        "description": "Width in pixels that your image needs to be",
                        "type": "number",
                        "default": 640
                    },
                    {
                        "in": "path",
                        "name": "height",
                        "description": "Height in pixels that your image needs to be",
                        "type": "number",
                        "default": 480
                    },
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of image urls you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "https://loremflickr.com/1024/201/cats?49645"
                            }
                        }
                    }
                }
            }
        },
        "/images/sports/{width}/{height}/{qty}": {
            "get": {
                "tags": [
                    "Images"
                ],
                "summary": "Obtain a list of sports image urls",
                "parameters": [
                    {
                        "in": "path",
                        "name": "width",
                        "description": "Width in pixels that your image needs to be",
                        "type": "number",
                        "default": 640
                    },
                    {
                        "in": "path",
                        "name": "height",
                        "description": "Height in pixels that your image needs to be",
                        "type": "number",
                        "default": 480
                    },
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of image urls you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "https://loremflickr.com/1024/201/cats?49645"
                            }
                        }
                    }
                }
            }
        },
        "/images/technics/{width}/{height}/{qty}": {
            "get": {
                "tags": [
                    "Images"
                ],
                "summary": "Obtain a list of technics image urls",
                "parameters": [
                    {
                        "in": "path",
                        "name": "width",
                        "description": "Width in pixels that your image needs to be",
                        "type": "number",
                        "default": 640
                    },
                    {
                        "in": "path",
                        "name": "height",
                        "description": "Height in pixels that your image needs to be",
                        "type": "number",
                        "default": 480
                    },
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of image urls you require",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "https://loremflickr.com/1024/201/cats?49645"
                            }
                        }
                    }
                }
            }
        },
        "/images/transport/{width}/{height}/{qty}": {
            "get": {
                "tags": [
                    "Images"
                ],
                "summary": "Obtain a list of transport image urls",
                "parameters": [
                    {
                        "in": "path",
                        "name": "width",
                        "description": "Width in pixels that your image needs to be",
                        "type": "number",
                        "default": 640
                    },
                    {
                        "in": "path",
                        "name": "height",
                        "description": "Height in pixels that your image needs to be",
                        "type": "number",
                        "default": 480
                    },
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of image urls you acquire",
                        "type": "string",
                        "default": 10
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "https://loremflickr.com/1024/201/cats?49645"
                            }
                        }
                    }
                }
            }
        },
        "/music/{qty}": {
            "get": {
                "tags": [
                    "Music"
                ],
                "summary": "Get a song name and genre",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of songs and genre you acquire",
                        "type": "string",
                        "default": 5
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "example": "{ genre: '', song: ''}"
                            }
                        }
                    }
                }
            }
        },
        "/album/{qty}": {
            "get": {
                "tags": [
                    "Music"
                ],
                "summary": "Get an album name with release date, publisher, price, and total songs inlcuded",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "description": "The amount of albums you require",
                        "type": "string",
                        "default": 5
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "example": "{ name: '', releasedate: '', price: '', publisher: '', songs: ''}"
                            }
                        }
                    }
                }
            }
        },
        "/names/firstnames/{qty}": {
            "get": {
                "tags": [
                    "Names"
                ],
                "summary": "Obtain a list of random firstnames",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "default": 10,
                        "description": "The amount of results you would like returned"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/FirstNamesResponse"
                        }
                    },
                    "400": {
                        "description": "Unexpected Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/names/firstnames/male/{qty}": {
            "get": {
                "tags": [
                    "Names"
                ],
                "summary": "Obtain a list of random male firstnames",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "default": 10,
                        "description": "The amount of results you would like returned"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/FirstNamesResponse"
                        }
                    },
                    "400": {
                        "description": "Unexpected Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/names/firstnames/female/{qty}": {
            "get": {
                "tags": [
                    "Names"
                ],
                "summary": "Obtain a list of random female firstnames",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "default": 10,
                        "description": "The amount of results you would like returned"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/FirstNamesResponse"
                        }
                    },
                    "400": {
                        "description": "Unexpected Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/names/fullnames/{qty}": {
            "get": {
                "tags": [
                    "Names"
                ],
                "summary": "Obtain a list of random fullnames",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "default": 10,
                        "description": "The amount of results you would like returned"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "Bobby Weiman, Tammy Swaniawski"
                            }
                        }
                    },
                    "400": {
                        "description": "Unexpected Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/names/fullnames/male/{qty}": {
            "get": {
                "tags": [
                    "Names"
                ],
                "summary": "Obtain a list of random male fullnames",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "default": 10,
                        "description": "The amount of results you would like returned"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "items": {
                                "type": "string",
                                "example": "Bobby Weiman, Tammy Swaniawski"
                            }
                        }
                    },
                    "400": {
                        "description": "Unexpected Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/names/fullnames/female/{qty}": {
            "get": {
                "tags": [
                    "Names"
                ],
                "summary": "Obtain a list of random female fullnames",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "default": 10,
                        "description": "The amount of results you would like returned"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/FullNamesResponse"
                        }
                    },
                    "400": {
                        "description": "Unexpected Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/names/lastnames/{qty}": {
            "get": {
                "tags": [
                    "Names"
                ],
                "summary": "Obtain a list of random lastnames",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "default": 10,
                        "description": "The amount of results you would like returned"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/LastNameResponse"
                        }
                    },
                    "400": {
                        "description": "Unexpected Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/names/lastnames/male/{qty}": {
            "get": {
                "tags": [
                    "Names"
                ],
                "summary": "Obtain a list of random male lastnames",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "default": 10,
                        "description": "The amount of results you would like returned"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/LastNameResponse"
                        }
                    },
                    "400": {
                        "description": "Unexpected Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/names/lastnames/female/{qty}": {
            "get": {
                "tags": [
                    "Names"
                ],
                "summary": "Obtain a list of random female lastnames",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "default": 10,
                        "description": "The amount of results you would like returned"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/LastNameResponse"
                        }
                    },
                    "400": {
                        "description": "Unexpected Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/names/middlenames/{qty}": {
            "get": {
                "tags": [
                    "Names"
                ],
                "summary": "Obtain a list of random middlenames",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "default": 10,
                        "description": "The amount of results you would like returned"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/LastNameResponse"
                        }
                    },
                    "400": {
                        "description": "Unexpected Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/names/middlenames/male/{qty}": {
            "get": {
                "tags": [
                    "Names"
                ],
                "summary": "Obtain a list of random male middlenames",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "default": 10,
                        "description": "The amount of results you would like returned"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/LastNameResponse"
                        }
                    },
                    "400": {
                        "description": "Unexpected Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/names/middlenames/female/{qty}": {
            "get": {
                "tags": [
                    "Names"
                ],
                "summary": "Obtain a list of random female middlename",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "default": 10,
                        "description": "The amount of results you would like returned"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/LastNameResponse"
                        }
                    },
                    "400": {
                        "description": "Unexpected Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        },
        "/phonenumbers": {
            "get": {
                "tags": [
                    "Phone Numbers"
                ],
                "summary": "Obtain a random phone number in a random format",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "string",
                            "example": "+1 222 333 4444"
                        }
                    }
                }
            }
        },
        "/phonenumbers/country/{countrycode}/{format}": {
            "get": {
                "tags": [
                    "Phone Numbers"
                ],
                "summary": "Obtain a random phone number based on country code and optional formatting",
                "parameters": [
                    {
                        "in": "path",
                        "name": "country code",
                        "description": "The 2 letter code of a country (ISO 3166-1 alpha-2)",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "path",
                        "name": "format",
                        "description": "The separator for the phone number 'space', 'nospace', 'dash'",
                        "required": false,
                        "type": "string",
                        "default": "space"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "string",
                            "example": "+1-222-333-4444"
                        }
                    }
                }
            }
        },
        "/phonenumbers/imei": {
            "get": {
                "tags": [
                    "Phone Numbers"
                ],
                "summary": "Obtain a random IMEI (International Mobile Equipment Identity) number",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "string",
                            "example": "85-635465-967419-2"
                        }
                    }
                }
            }
        },
        "/product/department/{department}": {
            "get": {
                "tags": [
                    "Products"
                ],
                "summary": "Get a single product with a specified department",
                "parameters": [
                    {
                        "required": false,
                        "type": "string",
                        "in": "path",
                        "name": "department",
                        "default": "General",
                        "description": "Specify department product should be filed under"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ProductResponse"
                        }
                    }
                }
            }
        },
        "/products/{qty}/{department}": {
            "get": {
                "tags": [
                    "Products"
                ],
                "summary": "Obtain a list of random products",
                "parameters": [
                    {
                        "required": false,
                        "type": "number",
                        "in": "path",
                        "name": "qty",
                        "default": 10,
                        "description": "The amount of results you would like returned"
                    },
                    {
                        "required": false,
                        "type": "string",
                        "in": "path",
                        "name": "department",
                        "default": "General",
                        "description": "Specify department product should be filed under"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ProductResponse"
                        }
                    }
                }
            }
        },
        "/products/reviews": {
            "get": {
                "tags": [
                    "Products"
                ],
                "summary": "Obtain a list of random reviews",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/MockProductReview"
                        }
                    }
                }
            }
        },
        "/products/reviews/ratings/{rating}": {
            "get": {
                "tags": [
                    "Products"
                ],
                "summary": "Obtain a list of random reviews with a specific rating",
                "parameters": [
                    {
                        "in": "path",
                        "name": "rating",
                        "description": "The rating you would like your mocked reviews to be"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/MockProductReview"
                        }
                    }
                }
            }
        },
        "/quotes": {
            "get": {
                "tags": [
                    "Quotes"
                ],
                "summary": "Get a list of all quotes from the database",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "default": 10,
                        "description": "The amount of results you would like returned"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "example": "{ quote: '', author: ''}"
                            }
                        }
                    }
                }
            }
        },
        "/quotes/random": {
            "get": {
                "tags": [
                    "Quotes"
                ],
                "summary": "Get a random quote from the database",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "items": {
                                "type": "object",
                                "example": "{ quote: '', author: ''}"
                            }
                        }
                    }
                }
            }
        },
        "/socials/twitter": {
            "get": {
                "tags": [
                    "Socials"
                ],
                "summary": "Returns random Twitter posts",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/MockTwitterPosts"
                        }
                    }
                }
            }
        },
        "/sports/football/leagues/premier/teams": {
            "get": {
                "tags": [
                    "Sports"
                ],
                "summary": "Get a list of teams in the uk premier football league from 2022",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "default": 10,
                        "description": "The amount of results you would like returned"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "example": "{ teamName: '', location: '', stadium: '', capacity: ''}"
                            }
                        }
                    }
                }
            }
        },
        "/sports/football/leagues/laliga/teams/{qty}": {
            "get": {
                "tags": [
                    "Sports"
                ],
                "summary": "Get a list of teams in the La Liga (Spain) football league from 2022",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "default": 10,
                        "description": "The amount of results you would like returned"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "example": "{ teamName: '', location: '', stadium: '', capacity: ''}"
                            }
                        }
                    }
                }
            }
        },
        "/time_zones": {
            "get": {
                "tags": [
                    "/TimeZones"
                ],
                "summary": "Returns an object of all available TimeZones",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object"
                            }
                        }
                    }
                }
            }
        },
        "/time-zones": {
            "get": {
                "tags": [
                    "/TimeZones/random"
                ],
                "summary": "Returns an random TimeZones",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object"
                            }
                        }
                    }
                }
            }
        },
        "/elements": {
            "get": {
                "tags": [
                    "Chemical Elements"
                ],
                "summary": "Get a random value of a Chemical Elements",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/MockChemicalElement"
                        }
                    }
                }
            }
        },
        "/elements/{qty}": {
            "get": {
                "tags": [
                    "Chemical Elements"
                ],
                "summary": "Get a random list of value of Chemical Elements",
                "parameters": [
                    {
                        "in": "path",
                        "name": "qty",
                        "default": 10,
                        "description": "The amount of results you would like returned"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/MockChemicalElements"
                        }
                    }
                }
            }
        },
        "definitions": {
            "ErrorResponse": {
                "type": "string",
                "example": "An unknown error occured, please try again."
            },
            "CountriesListResponse": {
                "properties": {
                    "countries": {
                        "type": "array",
                        "items": {
                            "type": "string",
                            "example": "United Kingdom"
                        }
                    }
                }
            },
            "FullNamesResponse": {
                "properties": {
                    "fullNamesList": {
                        "type": "array",
                        "items": {
                            "type": "string",
                            "example": "Aaron D Rackley"
                        }
                    }
                }
            },
            "FirstNamesResponse": {
                "properties": {
                    "firstNamesList": {
                        "type": "array",
                        "items": {
                            "type": "string",
                            "example": "Mandy"
                        }
                    }
                }
            },
            "LastNameResponse": {
                "properties": {
                    "lastNamesList": {
                        "type": "array",
                        "items": {
                            "type": "string",
                            "example": "smith"
                        }
                    }
                }
            },
            "MockEcommerceCartItem": {
                "type": "object",
                "properties": {
                    "pricePerUnit": {
                        "type": "number",
                        "example": 2
                    },
                    "quantity": {
                        "type": "number",
                        "example": 2
                    },
                    "product": {
                        "type": "object",
                        "properties": {
                            "productName": {
                                "type": "string",
                                "example": "Super Gamer Juice"
                            },
                            "productId": {
                                "type": "number",
                                "example": 1
                            },
                            "message": {
                                "type": "string",
                                "example": "The only drink I will ever need."
                            },
                            "dateTime": {
                                "type": "string",
                                "example": "1984-05-21T00:02:11.497Z"
                            },
                            "rating": {
                                "type": "number",
                                "example": 1
                            },
                            "userName": {
                                "type": "string",
                                "example": "Aaron Rackley"
                            },
                            "categories": {
                                "type": "array",
                                "items": {
                                    "type": "string",
                                    "example": "sport-drinks"
                                }
                            }
                        }
                    }
                }
            },
            "MockEcommerceCart": {
                "type": "object",
                "properties": {
                    "products": {
                        "type": "array",
                        "items": {
                            "$ref": "#/definitions/MockEcommerceCartItem"
                        }
                    },
                    "couponCode": {
                        "type": "string",
                        "default": "DISCOUNT"
                    },
                    "couponPercent": {
                        "type": "number",
                        "default": 8
                    },
                    "couponValue": {
                        "type": "number",
                        "default": 4
                    },
                    "taxPercent": {
                        "type": "number",
                        "default": 4
                    },
                    "taxApplied": {
                        "type": "number",
                        "default": 8
                    },
                    "postageValue": {
                        "type": "number",
                        "default": 5
                    },
                    "subtotal": {
                        "type": "number",
                        "default": 100
                    },
                    "total": {
                        "type": "number",
                        "default": 120
                    }
                }
            },
            "MockProductReview": {
                "type": "array",
                "items": {
                    "type": "object",
                    "properties": {
                        "department": {
                            "type": "string",
                            "example": "Sports"
                        },
                        "type": {
                            "type": "string",
                            "example": "Ball"
                        },
                        "name": {
                            "type": "string",
                            "example": "Sleek Bronze Towels"
                        },
                        "adjective": {
                            "type": "string",
                            "example": "Incredible"
                        },
                        "description": {
                            "type": "string",
                            "example": "The automobile layout consists of a front-engine design, with transaxle-type transmissions mounted at the rear of the engine and four wheel drive"
                        },
                        "material": {
                            "type": "string",
                            "example": "Soft"
                        },
                        "sku": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "meta": {
                                        "type": "object",
                                        "properties": {
                                            "size": {
                                                "type": "string",
                                                "example": "Medium"
                                            }
                                        }
                                    },
                                    "price": {
                                        "type": "string",
                                        "example": "232.00"
                                    },
                                    "amount": {
                                        "type": "number",
                                        "example": 11109
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "MockChatMessages": {
                "type": "array",
                "items": {
                    "type": "object",
                    "properties": {
                        "id": {
                            "type": "string",
                            "example": "dc90af0e-f073-45e7-8a77-69e7e94aed31"
                        },
                        "createdAt": {
                            "type": "string",
                            "example": "2022-09-22T16:03:17.885Z"
                        },
                        "message": {
                            "type": "string",
                            "example": "Dicta amet dolores mollitia eveniet commodi."
                        },
                        "userId": {
                            "type": "string",
                            "example": "d392a495-3f4c-4660-a896-dce057afbbd4"
                        }
                    }
                }
            },
            "MockUsers": {
                "type": "array",
                "items": {
                    "type": "object",
                    "properties": {
                        "userId": {
                            "type": "string",
                            "example": "d392a495-3f4c-4660-a896-dce057afbbd4"
                        },
                        "username": {
                            "type": "string",
                            "example": "Aaron Rackley"
                        },
                        "email": {
                            "type": "string",
                            "example": "john.doe@example.com"
                        },
                        "avatarUrl": {
                            "type": "string",
                            "example": "https://cloudflare-ipfs.com/ipfs/Qmd3W5DuhgHirLHGVixi6V76LhCkZUz6pnFt5AJBiyvHye/avatar/597.jpg"
                        },
                        "password": {
                            "type": "string",
                            "example": "password"
                        },
                        "birthDate": {
                            "type": "string",
                            "example": "1984-05-21T00:02:11.497Z"
                        },
                        "registeredAt": {
                            "type": "string",
                            "example": "2022-09-22T16:03:17.885Z"
                        }
                    }
                }
            },
            "MockChatResponse": {
                "type": "object",
                "properties": {
                    "users": {
                        "$ref": "#/definitions/MockUsers"
                    },
                    "messages": {
                        "$ref": "#/definitions/MockChatMessages"
                    }
                }
            },
            "MockEmails": {
                "type": "array",
                "items": {
                    "type": "object",
                    "properties": {
                        "id": {
                            "type": "string",
                            "example": "dc90af0e-f073-45e7-8a77-69e7e94aed31"
                        },
                        "from": {
                            "type": "string",
                            "example": "john.doe@example.com"
                        },
                        "subject": {
                            "type": "string",
                            "example": "Lorem ipsum dolor"
                        },
                        "body": {
                            "type": "string",
                            "example": "Dicta amet dolores mollitia eveniet commodi."
                        },
                        "read": {
                            "type": "boolean",
                            "example": false
                        },
                        "tags": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "example": "important"
                            }
                        },
                        "date": {
                            "type": "string",
                            "example": "2022-09-22T16:03:17.885Z"
                        }
                    }
                }
            },
            "MockTwitterPosts": {
                "type": "array",
                "items": {
                    "type": "object",
                    "properties": {
                        "id": {
                            "type": "string",
                            "example": "dc90af0e-f073-45e7-8a77-69e7e94aed31"
                        },
                        "handle": {
                            "type": "string",
                            "example": "@JohnDoe"
                        },
                        "message": {
                            "type": "string",
                            "example": "Dicta amet dolores mollitia eveniet commodi."
                        },
                        "media": {
                            "type": "string",
                            "example": "https://loremflickr.com/640/480"
                        },
                        "likes": {
                            "type": "number",
                            "example": 438
                        },
                        "comments": {
                            "type": "number",
                            "example": 10
                        },
                        "retweets": {
                            "type": "number",
                            "example": 2
                        },
                        "date": {
                            "type": "string",
                            "example": "2022-09-22T16:03:17.885Z"
                        }
                    }
                }
            },
            "MockChemicalElement": {
                "properties": {
                    "symbol": {
                        "type": "string",
                        "example": "N"
                    },
                    "name": {
                        "type": "string",
                        "example": "Nitrogen"
                    },
                    "atomicNumber": {
                        "type": "number",
                        "example": 7
                    }
                }
            },
            "MockChemicalElements": {
                "type": "array",
                "items": {
                    "$ref": "#/definitions/MockChemicalElement"
                }
            }
        }
    }
}